<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Modificar</title>
</head>

<body>
	<header th:replace="layout/plantilla :: header"></header>
	<h2>Datos de la persona</h2>
	<a th:href="@{/}">Regresar</a>
	<br />
	<form th:action="@{/guardar}" method="post" th:object="${persona}">
		<input type="hidden" name="id" th:field="*{id}" />
		<br />
		<label for="nombre">Nombre:</label>
		<input type="text" name="name" th:field="*{name}" />
		<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error nombre</span>
		<br />
		<label for="apellido">Apellido:</label>
		<input type="text" name="apellido" th:field="*{apellido}" />
		<span th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}">Error apellido</span>
		<br />
		<label for="email">email:</label>
		<input type="text" name="email" th:field="*{email}" />
		<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error email</span>
		<br />
		<label for="telefono">telefono:</label>
		<input type="tel" name="telefono" th:field="*{telefono}" />
		<br />
		<input type="submit" value="Guardar" name="guardar" />
	</form>

	<footer th:replace="layout/plantilla :: footer"></footer>
</body>

</html>